html,
body {
    margin: 0;
}

/* ############### HEADER ############### */
:root {
    --header-background: #fff;
    --header-link-color: black;
    --logo-color: #000;
}

header {
    background-color: var(--header-background);
}

#name {
    color: black;
}

#name a {
    font-size: 1.125rem;
    text-decoration: none;
    color: var(--logo-color);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 65px;
    box-shadow: 0 0 0 0 #00000000, 0 0 0 0 #00000000, 0 1px 3px 0 #0000001a, 0 1px 2px -1px #0000001a;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 15px;
}

nav a {
    text-decoration: none;
    color: var(--header-link-color);
}

nav a:hover {
    text-decoration: underline;
}



/* ############### TITLE ############### */

:root {
    --title-text-color: #333333;
    --subtitle-text-color: #4b5563;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    min-width: 0;
    padding-left: 1rem;
    padding-right: 1rem;
}


/* TITLE */
#head h1 {
    color: var(--title-text-color);
    font-size: 2.25rem;
    line-height: 2.5rem;
    margin-bottom: 1rem;
}

/* SUBTITLE */
#head h3 {
    color: var(--subtitle-text-color);
    font-size: 1.5rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}


#head img {
    width: 10%;
}


/* ############### HOME-BUTTONS ############### */
#home-buttons {
    margin-top: 2rem;
    text-align: center;
}

#home-buttons a {
    border-radius: 9999px;
    border-width: 1px;
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: .5rem;
    margin-left: .5rem;
    margin-right: .5rem;
    padding: .75rem 2rem;
    text-transform: uppercase;
    text-decoration: none;
}

#home-buttons .primary {
    background-color: #3b82f6;
    color: #ffffff;
}

#home-buttons .secondary {
    background-color: #e5e7eb;
    color: #4b5563;
}





